*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
}
.link{
    color: inherit;
    text-decoration: none;
}
.title{
    background-color: black;
    color: white;
    text-align: center;
}