/* estilo submenu */
.subMenu{
    display: none;
    list-style: none;
    background-color: white;
    border: 1px solid black;
    width: 100%;
    top: 110%;
    right: 0;
    position: absolute;
    
}
.subMenu__item{
    padding: 1rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.subMenu__item:hover{
    background-color: yellow;
}